.wrapper {
    padding: .5rem;
    display: grid;
    grid-template-areas:
    "myfriends AllPeople";
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vh;
}

.myfriends{
    grid-area: myfriends;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc((1vh+1vw)*2);
    background-color:#8a2387;
    font-size:  calc((1vh+1vw)*1.7);
    color: white;
    transition: .3s;
    border-radius: 1.5vh;
    letter-spacing: .2vw;
}
.AllPeople{
    grid-area: AllPeople;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc((1vh+1vw)*2);
    background-color: #8a2387;
    font-size:  calc((1vh+1vw)*1.7);
    color: white;
    transition: .6s;
    border-radius: 1.5vh;
    letter-spacing: .2vw;
}
a{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold
}
.active {
    background-color:#f27121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc((1vh+1vw)*2);
    font-size:  calc((1vh+1vw)*2.1);
    transition: .3s;
    border-radius: 1.5vh;
    letter-spacing: .3vw;
}