.header{
    grid-area: header;
    background-color: #e94057;
}

.img{
    height: calc((1vh+1vw)*10);
    float: left;
    margin-left: 5px;
}
.loginBlock{
    float: right;
    transform: translateY(2rem) translateX(-2rem);
}