.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "content";
    grid-template-rows: 6rem max-content;
    grid-gap: 2vh;
  }
  
  
.content {
    display: flex;
    justify-content: center;
    grid-area: content;
    background-color: #FF9966
  }
.header {
  grid-area: header;
}

  
  