.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "nav conten";
  grid-template-rows: 10vh minmax(100vh, auto);
  grid-template-columns: 2fr 10fr;
  grid-gap: .5vh;
}


.content {
  grid-area: conten;
  background-color: rgb(193, 193, 194);
}

