.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "nav conten";
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}


.conten {
  grid-area: conten;
  background-color: blueviolet;
}

