.nav{
    grid-area: nav;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
}

.gap40px{
    height: 40px;
}

.item{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: .7rem;
    font-size: calc((1vh+1vw)*2);
}
.item:hover{
    text-shadow:-1px -1px white;
    font-size: calc((1vh+1vw)*2);
}

.active{
    display: block;
    color: gold;
    text-decoration: none;
    margin-bottom: .7rem;
    font-size: calc((1vh+1vw)*2);
}