.nav{
    grid-area: nav;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
}

.gap40px{
    height: 40px;
}

.item{
    display: block;
    text-decoration: none;
    color: white;
}